<div class="dialog-action-container">
  <!-- Dialog Action Title -->
  <h2 class="dialog-title">{{ dialogTitle }}</h2>

  <!-- Dialog Content -->
  <div class="dialog-content">
    <!-- Main Action Text -->
    <div class="main-text">
      <strong>{{ actionText }}</strong>
      @if (data.type === 'all_preferences' || data.type === 'publish' ) {
      <span>
        {{
          data.type === "all_preferences"
            ? "load and schedule preferences submission for all active faculty members this"
            : "official load and schedule for all active faculty members this"
        }}
        A.Y. {{ data.academicYear }}, {{ data.semester }}.
      </span>
      } @else if (data.type === 'single_preferences') {
      <span>
        load and schedule preferences submission for {{ facultyName }} this A.Y.
        {{ data.academicYear }}, {{ data.semester }}.
      </span>
      }
    </div>

    <!-- Report Options Section -->
    @if (showReportOptions) {
    <div class="main-text">
      This will <strong>print and download</strong> an official copy of the
      schedule reports for this semester. Check all that you want to download:
    </div>

    <div class="checkbox-container reports">
      <mat-checkbox [(ngModel)]="reportOptions.faculty" class="report-checkbox">
        <span class="checkbox-content">
          <span mat-symbol="groups"></span>
          <span>Faculty Schedule Report</span>
        </span>
      </mat-checkbox>

      <mat-checkbox
        [(ngModel)]="reportOptions.programs"
        class="report-checkbox"
      >
        <span class="checkbox-content">
          <span mat-symbol="school"></span>
          <span>Programs Schedule Report</span>
        </span>
      </mat-checkbox>

      <mat-checkbox [(ngModel)]="reportOptions.rooms" class="report-checkbox">
        <span class="checkbox-content">
          <span mat-symbol="meeting_room"></span>
          <span>Rooms Schedule Report</span>
        </span>
      </mat-checkbox>
    </div>
    }

    <!-- Submission Deadline Date Picker Section -->
    @if (showDeadlinePicker) {
    <div class="deadline-picker">
      <mat-form-field appearance="fill">
        <mat-label>Submission Deadline</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [min]="minDate"
          [(ngModel)]="submissionDeadline"
          (dateChange)="onDeadlineChange($event)"
          [disabled]="data.currentState"
          readonly
          required
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        @if (data.type === 'all_preferences' || data.type ===
        'single_preferences') {
        <mat-hint>
          @if (data.currentState) { Current Set Submission Deadline: @if
          (isDeadlineToday) {
          <strong>{{ getDeadlineText(true) }}</strong>
          } @else {
          {{ submissionDeadline | date }}
          <strong>({{ remainingDays }} days left)</strong>
          } } @else { The preferences submission will close after @if
          (isDeadlineToday) {
          <strong>{{ getDeadlineText(false) }}</strong>
          } @else {
          <strong>{{ remainingDays }} days</strong>
          } }
        </mat-hint>
        }
      </mat-form-field>
    </div>
    }

    <!-- Navigation Link Section -->
    @if (data.hasSecondaryText) {
    <div class="secondary-text">
      @if (!showReportOptions) { For specific faculty, go to } @else { For a
      more specific view and download of reports, go to the }
      <a class="link" [routerLink]="navigationLink" (click)="closeDialog()">
        {{ linkText }}
      </a>
      <span> page.</span>
    </div>
    }

    <!-- Email Notification Section -->
    @if (showEmailOption) {
    <div class="checkbox-container email">
      <mat-checkbox [(ngModel)]="sendEmail" class="email-checkbox">
        <span class="checkbox-content">
          <span mat-symbol="email"></span>
          <span>
            Send email to @if (data.type === 'single_preferences') {
            {{ facultyName }}
            } @else { all faculty members }
          </span>
        </span>
      </mat-checkbox>
    </div>
    }
  </div>

  <!-- Dialog Buttons -->
  <div class="dialog-buttons">
    <button
      mat-button
      class="cancel"
      (click)="closeDialog()"
      [disabled]="isProcessing"
    >
      Cancel
    </button>

    <button
      mat-flat-button
      color="primary"
      (click)="confirmAction()"
      [disabled]="
        isProcessing ||
        (data.type === 'reports' && !isReportSelectionValid()) ||
        (showDeadlinePicker && submissionDeadline === null)
      "
      [ngClass]="{
        'disabled-button':
          isProcessing ||
          (data.type === 'reports' && !isReportSelectionValid()) ||
          (showDeadlinePicker && submissionDeadline === null)
      }"
    >
      @if (!isProcessing) { Confirm } @else {
      <mat-spinner class="custom-spinner" diameter="25"></mat-spinner>
      }
    </button>
  </div>
</div>
