<div class="programs-container">
  <!--Table Header-->
  <div class="programs-header-container">
    <app-table-header
      [searchLabel]="'Search Programs'"
      [addButtonLabel]="'Add Program'"
      (search)="onSearch($event)"
      (add)="openAddProgramDialog()"
    ></app-table-header>
  </div>

  <!--Common Table-->
  <div class="programs-table-container">
    <app-common-table
      [columns]="columns"
      [data]="programs"
      [displayedColumns]="displayedColumns"
      (edit)="openEditProgramDialog($event)"
      (delete)="deleteProgram($event)"
    ></app-common-table>
  </div>
</div>
