@import "../../../../../../styles/mixins";

.programs-container {
  @include default-transition;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  height: 100%;
}

.programs-table-container {
  @include flex-layout($direction: column, $align: none, $justify: none);
  @include hide-scrollbar;
  flex: 1;
  overflow: auto;
  position: relative;
  border-radius: var(--border-radius-md);
}
