/* Trajan Pro */
@font-face {
    font-family: "Trajan Pro";
    src: url("../assets/fonts/Trajan-Pro.woff2") format("woff2");
    font-weight: normal;
    /* Normal */
    font-style: normal;
}

@font-face {
    font-family: "Trajan Pro";
    src: url("../assets/fonts/Trajan-Pro-Bold.woff2") format("woff2");
    font-weight: bold;
    /* Bold */
    font-style: normal;
}