:root {
  /* Page background */
  --blur-bg: #ffffffcc;
  --main-bg: #ffffff;
  --admin-bg: #ededed;
  --blur-bg-strong: #ffffffe3;

  /* Neutral colors for text, element backgrounds, etc. */
  --neutral-base: #151515;
  --neutral-fade: #1a1a1a26;
  --neutral-light: #ebebeb;
  --neutral-mid: #e9e9e9;
  --neutral-hover: #2c2c2c30;
  --neutral-option: #a2a2a230;
  --neutral-bar: #d7d7d7;
  --neutral-sidebar: #f0f0f0;
  --neutral-button: #535353;
  --neutral-button-lighter: #474747;
  --neutral-space: #efefef;

  /* Primary colors variations */
  --primary-one: #800000;
  --primary-two: #a93232;
  --primary-fade: #80000020;
  --primary-text: #800000;
  --primary-hover: #e3d9d9;

  --primary-one-fade: #98292947;

  --error-base: #800000;

  --secondary-text: #957619;
  --secondary-hover: #a47f1a0b;

  /* Gradient-speficic values */

  // For gradient primary
  --gradient-light-start: #740000;
  --gradient-light-end: #ad0101;

  // For gradient secondary
  --gradient-dark-start: #232526;
  --gradient-dark-end: #4c4d4e;

  // For gradient soft-secondary
  --gradient-soft-gray-start: #adadad;
  --gradient-soft-gray-end: #e0e0e0;
}

.dark-theme {
  /* Page background */
  --blur-bg: #171717f1;
  --main-bg: #111111;
  --admin-bg: #181818;
  --blur-bg-strong: #171717f1;

  /* Neutral colors for text, element backgrounds, etc. */
  --neutral-base: #dfdfdf;
  --neutral-fade: #d4d4d42a;
  --neutral-light: #1f1f1f;
  --neutral-mid: #1f1f1f;
  --neutral-hover: #6b6b6b9e;
  --neutral-option: #34343481;
  --neutral-bar: #323232;
  --neutral-sidebar: #181818;
  --neutral-button: #3a3a3a;
  --neutral-button-lighter: #afafaf;
  --neutral-space: #171717;

  /* Primary colors variations */
  --primary-one: #a93232;
  --primary-two: #9e2525;
  --primary-fade: #a932321a;
  --primary-text: #e15d5d;
  --primary-hover: #2b2121;

  --primary-one-fade: #ff3c3c38;

  --error-base: #b43a3a;

  --secondary-text: #cc9d1b;
  --secondary-hover: #cc9d1b08;

  /* Gradient-speficic values */

  // For gradient primary
  --gradient-light-start: #8d2828;
  --gradient-light-end: #b54040;

  // For gradient secondary
  --gradient-dark-start: #252729;
  --gradient-dark-end: #464849;

  // For gradient soft-secondary
  --gradient-soft-gray-start: #3a3a3a;
  --gradient-soft-gray-end: #4a4a4a;
}
