:host {
  .mat-dialog-container {
    max-width: var(--dialog-base);
  }
}

/* Dialog Title */
.custom-dialog-title {
  font-size: var(--font-size-xl);
  color: var(--primary-text);
  font-weight: 600;
  font-family: "Inter Tight", sans-serif;
}

/* Dialog Content */
.custom-dialog-content {
  font-size: var(--font-size-md);
  margin: var(--spacing-md) 0;
}

/* Cancel action button */
.custom-dialog-buttons .dialog-cancel {
  color: var(--primary-text);
}

/* Proceed action button */
.custom-dialog-buttons .dialog-action {
  background-color: var(--primary-one);
  color: white;
  font-weight: 500;
}
