@use '../../../styles/mixins.scss';

:host {
  @include mixins.custom-spinner(var(--primary-text));
}

.dialog-change-password-container {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $justify: center,
    $gap: var(--spacing-lg)
  );
  padding: var(--spacing-lg);
}

.dialog-change-password-title {
  @include mixins.flex-layout(
    $direction: column,
    $align: flex-start,
    $justify: flex-start,
    $gap: var(--spacing-xxs)
  );

  .title-text {
    @include mixins.gradient-primary-text(315deg);
    @include mixins.flex-layout(
      $direction: row,
      $align: center,
      $gap: var(--spacing-xxs)
    );
    margin: 0;
    font-size: var(--font-size-xlx);
    font-weight: 600;

    .password-icon {
      @include mixins.flex-layout;
      font-size: var(--font-size-xlx);
      padding-right: var(--spacing-xxxs);
    }
  }

  .title-desc {
    margin: 0;
  }
}

.dialog-change-password-form {
  @include mixins.flex-layout(
    $direction: column,
    $align: stretch,
    $gap: var(--spacing-sm)
  );
}

.dialog-change-password-actions {
  @include mixins.flex-layout(
    $direction: row,
    $justify: flex-end,
    $gap: var(--spacing-md)
  );
  margin-top: var(--spacing-md);

  .cancel-button {
    color: var(--primary-text);
  }

  .confirm-button {
    @include mixins.gradient-primary(315deg);

    &:disabled {
      background: var(--neutral-fade) !important;
      color: var(--neutral-base) !important;
      opacity: var(--opacity-semi-opaque);
    }
  }
}
