@import "../../../styles/mixins.scss";

.dialog-view-schedule-container {
  @include flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start,
    $gap: var(--spacing-md)
  );
  padding: var(--spacing-lg);
  height: 100%;
}

.entity-info {
  @include flex-layout(
    $align: stretch,
    $justify: space-between,
    $gap: var(--spacing-xxs)
  );

  .schedule-title {
    .dialog-title {
      @include reset-styles;
      font-weight: 600;
      color: var(--primary-text);
    }

    .dialog-subtitle {
      color: var(--primary-text);
    }
  }

  .schedule-badge {
    .badge-text {
      @include flex-layout($gap: var(--spacing-xxs));
      @include gradient-primary(315deg);
      border-radius: var(--border-radius-lg);
      padding: var(--spacing-xs) var(--spacing-sm);
      font-size: var(--font-size-sm);
      font-weight: 500;
      color: white;

      span[mat-symbol] {
        font-size: var(--font-size-base);
      }
    }
  }
}

.dialog-schedule-calendar-container {
  @include flex-layout(
    $direction: column,
    $align: stretch,
    $justify: flex-start
  );

  min-height: 60vh;
}

.dialog-actions {
  @include flex-layout($justify: flex-end);
  .close-button {
    color: var(--primary-text);
  }
}
