<div class="scheduling-dialog-container">
  <!-- Section 1: Suggested Faculty -->
  <section class="section suggested-faculty">
    <div class="title">
      <h2 class="dialog-title suggested">
        <span mat-symbol="dynamic_form"></span> Suggested
      </h2>
      <span class="desc">*Based on submitted preferences</span>
    </div>

    <mat-dialog-content
      class="content faculty-list"
      [@cardEntranceSide]="data.suggestedFaculty.length"
    >
      @for (faculty of data.suggestedFaculty; track faculty) {
      <div class="faculty-item">
        <span class="faculty-name">{{ faculty.name }}</span>
        <span class="faculty-time">{{ faculty.day }}, {{ faculty.time }}</span>
      </div>
      }
    </mat-dialog-content>
  </section>

  <!-- Section 2: Edit Schedule Details -->
  <section class="section edit-schedule-details">
    <div class="title">
      <h2 class="dialog-title scheduling">Edit Schedule Details</h2>
      <div class="program-info">{{ data.selectedProgramInfo }}</div>
      <div class="course-name">{{ data.selectedCourseInfo }}</div>
    </div>

    <mat-dialog-content class="content forms-list">
      <form [formGroup]="scheduleForm" class="scheduling-form-group">
        <!-- Day Field -->
        <mat-form-field class="scheduling-forms">
          <mat-label>Day</mat-label>
          <mat-icon
            matPrefix
            [ngClass]="{
              'invalid-icon':
                scheduleForm.get('day')?.invalid &&
                scheduleForm.get('day')?.touched
            }"
          >
            calendar_today
          </mat-icon>
          <mat-select formControlName="day" required>
            @for (day of data.dayOptions; track day) {
            <mat-option [value]="day">{{ day }}</mat-option>
            }
          </mat-select>
          @if (scheduleForm.get('day')?.hasError('required') &&
          scheduleForm.get('day')?.touched) {
          <mat-error>Day is required.</mat-error>
          }
        </mat-form-field>

        <!-- Start and End Date Fields -->
        <div class="date-fields">
          <!-- Start Time Field -->
          <mat-form-field class="scheduling-forms">
            <mat-label>Start Time</mat-label>
            <mat-icon
              matPrefix
              [ngClass]="{
                'invalid-icon':
                  scheduleForm.get('startTime')?.invalid &&
                  scheduleForm.get('startTime')?.touched
              }"
            >
              access_time_filled
            </mat-icon>
            <mat-select formControlName="startTime" required>
              @for (time of data.timeOptions; track time) {
              <mat-option [value]="time">{{ time }}</mat-option>
              }
            </mat-select>
            @if (scheduleForm.get('startTime')?.hasError('required') &&
            scheduleForm.get('startTime')?.touched) {
            <mat-error>Start time is required.</mat-error>
            }
          </mat-form-field>

          <!-- End Time Field -->
          <mat-form-field class="scheduling-forms">
            <mat-label>End Time</mat-label>
            <mat-icon
              matPrefix
              [ngClass]="{
                'invalid-icon':
                  scheduleForm.get('endTime')?.invalid &&
                  scheduleForm.get('endTime')?.touched
              }"
            >
              access_time_filled
            </mat-icon>
            <mat-select formControlName="endTime" required>
              @for (time of data.endTimeOptions; track time) {
              <mat-option [value]="time">{{ time }}</mat-option>
              }
            </mat-select>
            @if (scheduleForm.get('endTime')?.hasError('required') &&
            scheduleForm.get('endTime')?.touched) {
            <mat-error>End time is required.</mat-error>
            }
          </mat-form-field>
        </div>

        <!-- Professor Field -->
        <mat-form-field class="scheduling-forms">
          <mat-label>Professor</mat-label>
          <mat-icon
          matPrefix
          [ngClass]="{
            'invalid-icon':
              scheduleForm.get('professor')?.invalid &&
              scheduleForm.get('professor')?.touched
          }"
        >
          person
        </mat-icon>
          <input
            type="text"
            matInput
            formControlName="professor"
            [matAutocomplete]="professorAuto"
          />
          <mat-autocomplete #professorAuto="matAutocomplete">
            @for (professor of filteredProfessors$ | async; track professor) {
            <mat-option [value]="professor">{{ professor }}</mat-option>
            }
          </mat-autocomplete>
          @if (scheduleForm.get('professor')?.hasError('required') &&
          scheduleForm.get('professor')?.touched) {
          <mat-error>Professor is required.</mat-error>
          }
        </mat-form-field>

        <!-- Room Field -->
        <mat-form-field class="scheduling-forms">
          <mat-label>Room</mat-label>
          <mat-icon
            matPrefix
            [ngClass]="{
              'invalid-icon':
                scheduleForm.get('room')?.invalid &&
                scheduleForm.get('room')?.touched
            }"
          >
            meeting_room  <!-- You can change this to any icon you prefer -->
          </mat-icon>
          <input
            type="text"
            matInput
            formControlName="room"
            [matAutocomplete]="roomAuto"
          />
          <mat-autocomplete #roomAuto="matAutocomplete">
            @for (room of filteredRooms$ | async; track room) {
            <mat-option [value]="room">{{ room }}</mat-option>
            }
          </mat-autocomplete>
          @if (scheduleForm.get('room')?.hasError('required') &&
          scheduleForm.get('room')?.touched) {
          <mat-error>Room is required.</mat-error>
          }
        </mat-form-field>
      </form>

      <!--Schedule Validator-->
      <div class="schedule-validator">
        <!-- @if (!hasConflicts) {
        <div class="validation-message no-conflict">
          <span mat-symbol="check_circle"></span>
          <span>All good! No scheduling conflicts have been detected.</span>
        </div>
        } @else {
        <div class="validation-message conflict">
          <span mat-symbol="error"></span>
          <span>Warning: Scheduling conflicts have been detected.</span>
        </div>
        } -->
        @if (hasConflicts) {
        <div class="validation-message conflict">
          <span mat-symbol="error"></span>
          <span>Warning: Scheduling conflicts have been detected.</span>
        </div>
        }
      </div>
    </mat-dialog-content>

    <!-- Action Buttons -->
    <mat-dialog-actions class="scheduling-dialog-actions">
      <button
        class="clear-all-button"
        (click)="onClearAll()"
        matRipple
        [matRippleColor]="'rgba(134,134,134,0.1)'"
      >
        Clear All
      </button>
      <div class="action-buttons">
        <button class="cancel-button" mat-button (click)="onCancel()">
          Cancel
        </button>
        <button
          class="action-button"
          mat-flat-button
          [disabled]="!scheduleForm.valid || hasConflicts"
          (click)="onAssign()"
        >
          Assign Schedule
        </button>
      </div>
    </mat-dialog-actions>
  </section>
</div>
