<div class="schedule-timeline-container">
  <table class="schedule-timeline-table">
    <thead class="schedule-timeline-table-header">
      <tr>
        <th></th>
        @for (day of days; track day) {
        <th>{{ day }}</th>
        }
      </tr>
    </thead>
    <tbody class="schedule-timeline-table-body">
      @for (slot of timeSlots; track slot; let i = $index) {
      <tr>
        <td class="time-slot">{{ slot.time }}</td>
        @for (day of days; track day) {
        <td
          class="schedule-cell"
          [ngClass]="{'schedule-block-start': isScheduleBlockStart(day, i)}"
          [ngStyle]="getScheduleBlockStyle(day, i)"
        >
          @if (isScheduleBlockStart(day, i)) {
            <div 
              class="schedule-content"
              [style.height.px]="getScheduleBlockHeight(day, i)"
            >
              {{ getScheduleBlockContent(day, i) }}
            </div>
          }
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>