@import "../../../styles/mixins.scss";

.schedule-timeline-container {
  @include hide-scrollbar;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  max-height: 60vh;
  border-radius: var(--border-radius-md);

  .schedule-timeline-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--neutral-space);
    position: relative;

    th,
    td {
      text-align: center;
      font-weight: 500;
    }

    .schedule-timeline-table-header {
      @include sticky;
      background-color: var(--primary-one);
      z-index: 2;

      th {
        color: white;
        padding: var(--spacing-xs);
        border-right: 1px solid var(--neutral-fade);
        border-bottom: 1px solid var(--neutral-fade);
      }
    }

    .schedule-timeline-table-body {
      td {
        padding: 0;
        border-bottom: 1px solid var(--neutral-fade);
        border-right: 1px solid var(--neutral-fade);
        min-width: 5rem;
        max-width: 5rem;
        height: 1rem;
        position: relative;
      }

      tr td:last-child {
        border-right: none;
      }

      .time-slot {
        position: sticky;
        left: 0;
        font-weight: 500;
        border-right: 1px solid var(--neutral-fade);
        background-color: var(--neutral-space);
        z-index: 1;
        padding: var(--spacing-xxxs);
      }

      .schedule-cell {
        position: relative;

        &.schedule-block-start {
          border-bottom: none;

          & + .schedule-cell {
            border-top: none;
          }

          .schedule-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            white-space: pre-wrap;
            word-break: break-word;
            font-size: 0.875rem;
            padding: 4px;
            pointer-events: none;
          }
        }

        &[style*="background-color"] {
          border-bottom: none;
          border-top: none;

          & + .schedule-cell[style*="background-color"] {
            border-left: none;
          }
        }
      }
    }
  }
}