<div class="login-container" [style.background-image]="getBackgroundImage()">
  <div class="login-image-section">
    <app-slideshow [images]="slideshowImages"></app-slideshow>
  </div>
  <div class="login-form-section">
    <!-- Login Header -->
    <div id="login_header">
      <img
        src="assets/images/pup_taguig_logo.svg"
        alt="University Logo"
        class="university-logo"
      />
      <div class="header-text">
        <div class="university-name">
          POLYTECHNIC UNIVERSITY OF THE PHILIPPINES
        </div>
        <div class="system-name">FACULTY LOADING & SCHEDULING SYSTEM</div>
      </div>
    </div>

    <!-- Login Form -->
    <div id="login_form">
      <!-- Form Header -->
      <div id="form_header">
        <h1>Log In</h1>
        <p>Enter your code and password to start your session.</p>
      </div>

      <!-- Form Fields -->
      <form id="form_fields" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <div class="input-container">
            <span mat-symbol="person" class="input-icon"></span>
            <input
              type="text"
              placeholder="Code"
              class="login-input"
              id="code"
              formControlName="code"
              autocomplete="username"
              minlength="12"
              maxlength="12"
            />
          </div>
          @if (code && code.invalid && (code.dirty ||
          code.touched)) {
          <div
            class="error-message slide-down"
            [ngClass]="{ show: code.invalid }"
          >
            <span mat-symbol="error"></span>
            @if (code.errors?.['required']) {
            <span>Code is required.</span>
            } @if (code.errors?.['minlength'] ||
            code.errors?.['maxlength']) {
            <span>Code must be exactly 12 characters.</span>
            }
          </div>
          }
        </div>

        <div class="input-group">
          <div class="input-container">
            <span mat-symbol="lock" class="input-icon"></span>
            <input
              type="password"
              placeholder="Password"
              class="login-input"
              id="password"
              formControlName="password"
              autocomplete="current-password"
              minlength="8"
              maxlength="40"
            />
          </div>

          @if (password && password.invalid && (password.dirty ||
          password.touched)) {
          <div
            class="error-message slide-down"
            [ngClass]="{ show: password.invalid }"
          >
          <span mat-symbol="error"></span>
            @if (password.errors?.['required']) {
            <span>Password is required.</span>
            } @if (password.errors?.['minlength']) {
            <span>Password must be at least 8 characters.</span>
            } @if (password.errors?.['maxlength']) {
            <span>Password cannot exceed 40 characters.</span>
            }
          </div>
          }
        </div>
      </form>

      <!-- Log In Button -->
      <div id="login_button">
        <button
          mat-flat-button
          class="custom-mat-button"
          [ngClass]="{
            'button-enabled': loginForm.valid,
            'button-disabled': !loginForm.valid
          }"
          [disabled]="loginForm.invalid"
          (click)="onSubmit()"
        >
          @if(!isLoading) {
          <span>Log In</span>
          } @if(!isLoading) {
          <mat-icon fontSet="material-icons-round">login</mat-icon>
          } @if(isLoading) {
          <mat-spinner diameter="30" class="custom-spinner"></mat-spinner>
          }
        </button>
      </div>
    </div>

    <div id="login_misc">
      <div id="terms_text">
        <span>
          By using this service, you understood and agree to the PUP Taguig
          Faculty Loading & Scheduling System
        </span>
        <a>Terms of Use</a> and <a>Privacy Statement</a>.
      </div>

      <!-- Switch Theme Button -->
      <div id="switch_theme_container">
        <button mat-button id="switch_theme" (click)="toggleTheme()">
          <mat-icon>
            {{ (isDarkTheme$ | async) ? "dark_mode" : "light_mode" }}
          </mat-icon>
          <span> {{ (isDarkTheme$ | async) ? "Dark" : "Light" }} Theme </span>
        </button>
      </div>
    </div>
  </div>
</div>
