<table class="table">
    <thead>
        <tr>
            <th scope="col">Faculty Name</th>
            <th scope="col">Faculty Code</th>
            <th scope="col">Faculty Email</th>
            <th scope="col">Faculty Type</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let faculty of faculties">
            <td>{{ faculty.faculty_name }}</td>
            <td>{{ faculty.faculty_code }}</td>
            <td>{{ faculty.faculty_email }}</td>
            <td>{{ faculty.faculty_type }}</td>
        </tr>
    </tbody>
</table>