<div class="curriculum-container" [@fadeAnimation]>
  <!-- Table Header -->
  <div class="curriculum-header-container">
    <app-table-header
      [inputFields]="headerInputFields"
      [addButtonLabel]="'Add Curriculum'"
      (inputChange)="onInputChange($event)"
      (add)="openAddCurriculumDialog()"  
    ></app-table-header>
  </div>

  <!-- Common Table -->
  <div class="curriculum-table-container">
    <app-table-generic
      [columns]="columns"
      [data]="curricula"
      [tableName]="'curriculum'"
      [displayedColumns]="displayedColumns"
      [showViewButton]="true"
      (view)="onViewCurriculum($event)"
      (edit)="openEditCurriculumDialog($event)"
      (delete)="deleteCurriculum($event)"
    ></app-table-generic>
  </div>
</div>