<div class="rooms-container">

  <!--Table Header-->
  <div class="rooms-header-container">
    <app-table-header
      [searchLabel]="'Search Rooms'"
      [addButtonLabel]="'Add Room'"
      (search)="onSearch($event)"
      (add)="openAddRoomDialog()"
    ></app-table-header>
  </div>

  <!-- Common Table -->
  <div class="rooms-table-container">
    <app-table-generic
      [columns]="columns"
      [data]="rooms"
      [displayedColumns]="displayedColumns"
      (edit)="openEditRoomDialog($event)"
      (delete)="deleteRoom($event)"
    ></app-table-generic>
  </div>
</div>
