@import "../../../styles/mixins.scss";
.material-dialog-container {
  padding-top: var(--spacing-sm);
  width: var(--dialog-small);
}

.dialog-title {
  @include flex-layout($justify: flex-start);
  gap: var(--spacing-sm);
  font-size: var(--font-size-xl);
  font-family: var(--font-base);
  font-weight: 500;
  color: var(--primary-text);

  span[mat-symbol] {
    @include flex-layout;
  }
}

.dialog-content {
  padding: var(--spacing-lg);
}

.dialog-field {
  width: 100%;
}

.dialog-actions {
  margin-bottom: var(--spacing-xs);
}

.cancel {
  color: var(--primary-text) !important;
}

.confirm-btn-disabled {
  color: var(--neutral-base) !important;
  opacity: var(--opacity-semi-opaque);
}