@import "../../../styles/mixins.scss";
.material-dialog-container {
  padding-top: var(--spacing-sm);
}

.dialog-title {
  @include flex-layout($justify: flex-start);
  gap: var(--spacing-sm);
  font-size: var(--font-size-xl);
  font-family: var(--font-base);
  font-weight: 500;
  color: var(--primary-text);

  span[mat-symbol] {
    @include flex-layout;
  }
}

.dialog-content {
  padding: var(--spacing-lg);
}

.dialog-field {
  width: 100%;
}

.cancel {
  color: var(--primary-text) !important;
}

.confirm {
  color: white;
  opacity: 1;

  &:disabled {
    opacity: 0.5;
  }
}
