<div class="material-dialog-container">
  <!--Dialog Title-->
  <h2 mat-dialog-title class="dialog-title">
    <span id="title_text">Select Time</span>
  </h2>
  <!--Dialog fields-->
  <mat-dialog-content class="dialog-content">
    @if (!isWholeDay) {
    <mat-form-field appearance="fill" class="dialog-field">
      <mat-label>Start Time</mat-label>
      <mat-select
        [(ngModel)]="startTime"
        (selectionChange)="onStartTimeChange()"
        [disabled]="isWholeDay"
      >
      @for (time of timeOptions; track time) {
        <mat-option [value]="time">
          {{ time }}
        </mat-option>
      }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="dialog-field">
      <mat-label>End Time</mat-label>
      <mat-select [(ngModel)]="endTime" [disabled]="isWholeDay">
        @for (time of endTimeOptions; track time) {
        <mat-option [value]="time">
          {{ time }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (startTime && endTime && !isEndTimeValid()) {
      <mat-error>End time must be after start time</mat-error>
    }
    }
    <mat-checkbox [(ngModel)]="isWholeDay" (change)="onWholeDayChange()">
      Whole Day<br/> (Any time is preferred)
    </mat-checkbox>
  </mat-dialog-content>

  <!--Dialog buttons-->
  <mat-dialog-actions class="dialog-actions">
    <button mat-button class="cancel" 
      (click)="onCancel()">
      Cancel
    </button>
    <button mat-flat-button class="confirm" 
      (click)="onConfirm()" 
      [disabled]="!isWholeDay && (!startTime || !endTime || !isEndTimeValid())">
      Confirm
    </button>
  </mat-dialog-actions>
</div>
