@import "../../../styles/mixins.scss";

.header-container {
  @include flex-layout($align: stretch, $justify: space-between);
  @include default-transition;
  background-color: var(--main-bg);
  padding-bottom: var(--spacing-sm);

  .input-container {
    @include flex-layout($gap: var(--spacing-md));

    .search-field {
      width: 20rem;
    }

    .program-field {
      width: 20rem;
    }

    .year-level-field {
      width: 10rem;
    }

    .sections-field {
      width: 10rem;

      mat-icon {
        cursor: pointer;
      }
    }

    .curriculum-field {
      width: 10rem;
    }
  }

  .object-container {
    @include flex-layout($align: stretch);

    .active-year-sem-container {
      @include flex-layout(
        $direction: column,
        $align: flex-start,
        $gap: var(--spacing-xxs)
      );

      @include gradient-primary(315deg);
      padding: 0 var(--spacing-md);
      border-radius: var(--border-radius-md);
      color: white;
      cursor: pointer;

      .text,
      .label {
        @include reset-styles;
      }

      .text {
        font-weight: 500;
      }

      .label {
        opacity: var(--opacity-semi-opaque);
      }
    }
  }

  .button-container {
    @include flex-layout($align: flex-end, $justify: space-between);
    gap: var(--spacing-md);
  }

  .custom-mat-button {
    color: white;
  }

  .export-button {
    background-color: var(--neutral-button);
  }
}
