@import "../../../styles/mixins.scss";

.header-container {
  @include flex-layout($align: stretch, $justify: space-between);
  @include default-transition;
  background-color: var(--main-bg);
  padding-bottom: var(--spacing-lg);

  .input-container {
    @include flex-layout($gap: var(--spacing-md));

    .program-field {
      width: 15rem;
    }
  
    .year-level-field {
      width: 8rem;
    }
  
    .sections-field {
      width: 10rem;
  
      mat-icon {
        cursor: pointer;
      }
    }
  }

  .button-container {
    @include flex-layout($align: flex-end, $justify: space-between);
    gap: var(--spacing-md);
  }

  .custom-mat-button {
    color: white;
  }

  .export-button {
    background-color: var(--neutral-button);
  }
}