@import "../../../../../styles/mixins";

* {
  @include reset-styles;
}

.faculty-preferences-container {
  @include default-transition;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  height: 100%;
}

/* First row - Header & Units Cards */
.preferences-row-one {
  @include flex-layout;
  justify-content: space-between;

  #preferences_title {
    @include flex-layout(
      $direction: column,
      $align: none,
      $justify: none,
      $gap: var(--spacing-xxs)
    );
    height: 100%;

    h1,
    p {
      width: max-content;
    }

    h1 {
      @include gradient-primary(315deg);
      font-size: var(--font-size-2xxl);
      font-weight: 700;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: var(--font-size-lg);
    }
  }

  #units_container {
    @include flex-layout;
    gap: var(--spacing-sm);
    height: inherit;
    text-align: center;

    .units {
      @include flex-layout($direction: column);
      height: inherit;
      border-radius: var(--border-radius-md);
      padding: var(--spacing-md);

      h2 {
        font-size: var(--font-size-2xl);
      }

      h2,
      span {
        color: white;
      }
    }

    .max {
      @include gradient-primary(315deg);
    }

    .total {
      @include gradient-secondary(315deg);
    }
  }
}

/* Second Row - Course List and Table */
.preferences-row-two {
  height: calc(100vh - 18rem);
  box-sizing: border-box;
  display: flex;
  gap: var(--spacing-lg);

  #courses_container,
  #table_container {
    border-radius: var(--border-radius-md);
    height: 100%;
  }

  #courses_container {
    flex: 3;
    display: flex;
    flex-direction: column;
    font-weight: 500;

    .custom-mat-search {
      width: 100%;

      span[mat-symbol] {
        padding: var(--spacing-sm);
      }
    }

    #courses_list,
    #programs_list {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .arrow_back {
        cursor: pointer;
        border-radius: 100%;

        &:hover {
          background-color: var(--neutral-bar);
        }
      }

      .cards-label {
        @include flex-layout($justify: flex-start, $gap: var(--spacing-sm));
        font-weight: 500;
        margin-bottom: 1rem;

        button {
          margin-right: 0.5rem;
        }
      }
    }

    .courses-scroll-container,
    .programs-scroll-container {
      @include custom-scrollbar;
      flex: 1;
      overflow-y: auto;
      padding-right: var(--spacing-sm);

      .progress-wrapper {
        height: 100%;
        @include flex-layout;
      }
    }

    .course-card,
    .program-card {
      @include default-transition;
      @include gradient-soft-secondary(30deg);
      @include flex-layout($justify: space-between);
      padding: var(--spacing-sm);
      margin-bottom: var(--spacing-xs);
      border-radius: var(--border-radius-sm);
      cursor: pointer;

      .course-info,
      .program-info {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxs);
      }

      .course-code,
      .program-code {
        font-weight: 600;
        font-size: var(--font-size-md);
        color: var(--neutral-base);
      }

      .course-title,
      .program-title {
        font-weight: 400;
        font-size: var(--font-size-md);
      }

      .add-button {
        @include flex-layout;
        color: var(--neutral-base);
      }
    }
  }
}

/* Preferences Table Styling */
#table_container {
  flex: 7;
  overflow: auto;
  position: relative;
  background-color: var(--neutral-light);
  @include hide-scrollbar;
  display: flex;
  flex-direction: column;

  .mat-mdc-table {
    width: 100%;
    background-color: var(--neutral-light);
    transition: none !important;
    table-layout: fixed;
  }

  .table-footer {
    @include flex-layout($justify: space-between, $gap: var(--spacing-xs));
    flex-shrink: 0;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: var(--neutral-bar);
    padding: var(--spacing-xxs) var(--spacing-xxs);

    .button-container {
      @include flex-layout($gap: var(--spacing-sm));
      padding: var(--spacing-xs) var(--spacing-sm);
      border-radius: var(--border-radius-xl);
      cursor: pointer;
      user-select: none;

      span {
        color: var(--neutral-base);
        @include default-transition(true);
      }

      .button-text {
        font-weight: 500;

        &.remove {
          color: var(--primary-text);
        }
      }

      span[mat-symbol="delete_sweep"] {
        color: var(--primary-text);
      }

      &:hover {
        .send,
        span[mat-symbol="send"] {
          color: var(--secondary-text);
        }
      }
    }

    .button-container.disabled {
      &:hover {
        .send,
        span[mat-symbol="send"] {
          color: var(--neutral-base);
        }
      }
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .mat-mdc-header-cell {
    background-color: var(--primary-one);
    color: white;
    font-weight: 500;
    font-size: var(--font-size-md);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .mat-mdc-cell {
    padding: var(--spacing-sm);
    text-align: center;
    text-wrap: wrap;
  }

  .custom-mat-button {
    @include flex-layout;

    span[mat-symbol] {
      font-size: var(--font-size-lg);
      color: var(--primary-one);
      @include flex-layout;
    }
  }

  @mixin column-width($width) {
    width: $width;
    min-width: $width;
    max-width: $width;
  }

  .mat-column-action {
    @include column-width(60px);
  }
  .mat-column-num {
    @include column-width(50px);
  }
  .mat-column-lec_hours,
  .mat-column-lab_hours,
  .mat-column-total_units {
    @include column-width(70px);
  }

  .mat-mdc-no-data-row {
    height: var(--spacing-4xl);
  }

  .mat-mdc-no-data-row td {
    font-size: initial;
    text-align: center;
  }

  .preferred-day-dropdown {
    border: none;
    padding: var(--spacing-sm) var(--spacing-xs);
    background-color: var(--neutral-light);
    font-size: var(--font-size-sm);
    color: var(--primary-text);
    border-radius: var(--border-radius-xl);
    outline: none;
    font-weight: 500;
    cursor: pointer;

    option {
      background-color: var(--neutral-light);
      color: var(--neutral-base);
    }

    &:hover {
      background-color: var(--primary-hover);
      border-radius: var(--border-radius-xl);
    }
  }

  .preferred-time-button {
    color: var(--primary-text);
  }
}
