<div class="faculty-home-container" [@fadeAnimation]>
  <!--Home first row-->
  <div class="home-row-one">
    <!--Home greertings-->
    <div id="home_greetings">
      <h1>Hello, {{ facultyName }} </h1>
      <p>Here's your schedule and other key information for the semester.</p>
    </div>
    <!--Active Semester-->
    <div id="active_semester">
      <!--Active Semester Text-->
      <div id="semester_text">
        <span mat-symbol="school"></span>
        <span>1st Semester, A.Y. 2024-2025</span>
      </div>

      <!--Active Semester Progress Bar-->
      <div id="semester_bar">
        <div id="progress_base"></div>
        <div id="progress_fill"></div>
      </div>
    </div>
  </div>

  <div class="home-row-two">
    <!--Calendar will be here-->
  </div>
</div>
