<div class="faculty-home-container" [@fadeAnimation]>
  <!-- Home first row -->
  <div class="home-row-one">
    <!-- Home greetings -->
    <div id="home_greetings">
      <h1>Hello, {{ facultyName }}</h1>
      <p>
        Here's your class schedule for this month and other key information for
        the semester.
      </p>
    </div>

    <!-- Calendar -->
    <div class="faculty-calendar">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>

  <!-- Home second row -->
  <div class="home-row-two">
    <!-- Active Semester -->
    <div class="active-year-sem-container">
      <p class="text">
        A.Y. {{ activeYear }},
        {{ activeSemester }}
      </p>
      <p class="label">Active Academic Year & Semester</p>
    </div>

    <!--Announcement-->
    <div class="faculty-announcement">
      <img src="../../../../../assets/images/empty.svg" />
      <span>No announcement yet.</span>
    </div>
  </div>
</div>
