@import "../../../styles/mixins.scss";

$day-colors: (
  monday: var(--primary-text),
  tuesday: var(--secondary-text),
  wednesday: var(--blue-primary),
  thursday: var(--aqua-primary),
  friday: var(--purple-primary),
  saturday: var(--green-primary),
  sunday: var(--primary-text),
);

@each $day, $color in $day-colors {
  .schedule-content.schedule-#{$day} .course {
    color: #{$color};
  }
}

.faculty-schedule-timetable-container {
  @include hide-scrollbar;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border-radius: var(--border-radius-md);

  .faculty-schedule-timetable-table {
    @include default-transition;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--neutral-space);
    position: relative;

    th,
    td {
      text-align: center;
      font-weight: 500;
    }

    .faculty-schedule-timetable-table-header {
      @include sticky;
      background-color: var(--primary-one);
      z-index: 2;

      th {
        color: white;
        padding: var(--spacing-xs);
        border-right: 1px solid var(--neutral-fade);
        border-bottom: 1px solid var(--neutral-fade);
      }
    }

    .faculty-schedule-timetable-table-body {
      td {
        padding: 0;
        border-bottom: 1px solid var(--neutral-fade);
        border-right: 1px solid var(--neutral-fade);
        min-width: 5rem;
        max-width: 5rem;
        height: 1.5rem;
        position: relative;
      }

      tr td:last-child {
        border-right: none;
      }

      .time-slot {
        @include default-transition;
        font-weight: 500;
        border-right: 1px solid var(--neutral-fade);
        background-color: var(--neutral-space);
        z-index: 1;
        padding: var(--spacing-xxxs);
      }

      .schedule-cell {
        max-width: 6rem;
        min-width: 6rem;
        position: relative;

        &.schedule-block-start {
          border-bottom: none;

          & + .schedule-cell {
            border-top: none;
          }

          .schedule-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            @include flex-layout(
              $direction: column,
              $align: center,
              $justify: center,
              $gap: var(--spacing-md)
            );
            white-space: pre-wrap;
            word-break: break-word;
            font-size: var(--font-size-sm);
            padding: 0 var(--spacing-xs);

            .course-text {
              font-weight: 600;
            }
          }
        }

        &[style*="background-color"] {
          border-bottom: none;
          border-top: none;

          & + .schedule-cell[style*="background-color"] {
            border-left: none;
          }
        }
      }
    }
  }
}
